@import "tailwindcss";

body {
  
  background-color: #121212;
  
  color: #E5E7EB; 

  
  background-image: 
    repeating-linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 80px),
    repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 80px);
  background-size: 80px 80px;
}

.nav-active {
  color: #FF4F00;
  text-decoration: underline;
  text-underline-offset: 6px;
}

